<h1 id="tableLabel">Features</h1>

<p *ngIf="!isLoaded"><em>Loading...</em></p>

<form [formGroup]="featuresForm">
  <ng-container formArrayName="features">
    <ng-container *ngFor="let feature of features.controls; let i = index">
      <div [formGroupName]="i">
        
        <input [title]="feature.value.name" [formControlName]="feature.value.name" type="checkbox" [checked]="feature.value.isEnabled">
        <label [for]="feature.value.name">{{feature.value.name}}</label>

      </div>
    </ng-container>
  </ng-container>
</form>
